In [1]:
import pandas as pd
import json
import os

In [2]:
train_dir = './nybg2020/train/'
test_dir = './nybg2020/test/'
metadata_file = 'metadata.json'

COCO

In [3]:
with open(train_dir + metadata_file) as json_file:
    train_metadata = json.load(json_file)

The keys in metadata

In [4]:
list(train_metadata.keys())

['annotations', 'categories', 'images', 'info', 'licenses', 'regions']

Basically, the metadata contains information on each of these keys. The labels will be described in 'annotations'. The meaning/info on the labels in 'categories'. The images directories in 'images'. I don't imagine we need to be concerned with the rest of the keys.

Number of labels and images:

In [5]:
len(train_metadata['categories']), len(train_metadata['images'])

(32094, 1030747)

In [6]:
train_metadata['annotations'][0]

{'category_id': 15672, 'id': 354106, 'image_id': 354106, 'region_id': 1}

In [7]:
train_metadata['images'][0]

{'file_name': 'images/156/72/354106.jpg',
 'height': 1000,
 'id': 354106,
 'license': 1,
 'width': 661}

In [8]:
train_img = pd.DataFrame(train_metadata['images'])
train_label = pd.DataFrame(train_metadata['annotations'])
train_df = pd.merge(train_label, train_img
                    , on='id'
                    , how='left'
                   ).drop('image_id', axis=1)

Similarly for test images:

In [85]:
with open(test_dir + metadata_file) as json_file:
    test_metadata = json.load(json_file)
    
test_df = pd.DataFrame(test_metadata['images'])
#test_label = pd.DataFrame(test_metadata['annotations'])

In [86]:
test_metadata.keys()

dict_keys(['images', 'info', 'licenses'])

In [87]:
test_df.sample(5)

                   file_name  height     id  license  width
24394   images/029/29475.jpg    1000  29475        1    667
89657   images/050/50502.jpg    1000  50502        1    678
16105   images/074/74619.jpg    1000  74619        1    667
118577  images/033/33957.jpg    1000  33957        1    676
89250   images/083/83416.jpg    1000  83416        1    667

In [88]:
test_df.shape

(138292, 5)